@import "style.css";

/*============= BLOG SECTION =============*/
#blog {
  margin-bottom: 8rem;
}

/* Start of Site-Content */
.site-content-1 {
  display: grid;
  grid-template-columns: 80% 20%;
}


.site-content-1 .post-content {
  width: 80%;
}


.site-content-1 .post-content > .post-image, .post-title {
  padding: 1rem;
  position: relative;
}

.site-content-1 .post-content > .post-image .post-info {
  background: var(--sky);
  padding: .5rem;
  position: absolute;
  bottom: 0%;
  left: 30vw;
  border-radius: 2rem;
}

.site-content-1 .post-content > .post-image > div {
  overflow: hidden;
}

.site-content-1 .post-content > .post-image .img {
  width: 90%;
  transition: all 1s ease;
}

.site-content-1 .post-content > .post-image .post-info span {
  margin: 1rem;

}

.post-content .post-title > a {
  font-size: 1rem;
}

.post-title-header {
  text-align: center;
}

.post-content .post-title-header > a {
  font-size: 1.3rem;
  font-weight: bold;
}

.img-center {
  text-align: center;
}
/*End of Site-content*/

/*-------- Sidebar ---------*/
.site-content-1 > .sidebar .category-list .list-items {
  background: var(--sky);
  padding: .4rem 1rem;
  margin: 1rem 0;
  border-radius: 3rem;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.site-content-1 > .sidebar .category-list .list-items a {
  color: black;
}

.site-content-1 .sidebar .popular-post .post-content {
  padding: 0;
}

.site-content-1 .sidebar .popular-post h4 {
  padding-top: 2rem;
}

.site-content-1 .sidebar .popular-post .post-info {
  padding: .4rem .1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.site-content-1 .sidebar .popular-post .post-title a {
  font-size: 1rem;
}
/*---x---- Sidebar ----x----*/